body {
  background: rgb(2, 2, 2);
  color: white;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3em;
  margin-top: 0.5em;
  color: #ff4081;
}


a {
  color: white;
  text-decoration: none;
}



a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}